@layer components {
  .vrxnode-chevron-color {
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrxnode-chevron-color {
    color: var(--color-content-dark);
  }

  .vrxnode-main {
    padding-left: 10px;
  }

  .vrxnode-header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .vrxnode-children {
    padding-left: 20px;
  }
}
