/* VRX Datepicker */

.vrxdatepicker-helpertext-style {
  color: var(--color-content-light);
}

.vrxdatepicker-helpertext-invalid-style {
  color: var(--color-error-500);
}

.vrxdatepicker-dropdown-bg-style {
  background-color: var(--color-base-light);
}

.vrxdatepicker-daypicker-text-style,
.vrxdatepicker-monthpicker-text-style,
.vrxdatepicker-yearpicker-text-style,
.vrxdatepicker-timepicker-text-style {
  color: var(--color-content-light);
}
.vrxdatepicker-daypicker-text-style:hover,
.vrxdatepicker-monthpicker-text-style:hover,
.vrxdatepicker-yearpicker-text-style:hover,
.vrxdatepicker-timepicker-text-style:hover {
  background-color: var(--color-primary-300);
}

.vrxdatepicker-yearpicker-header-text-style {
  color: var(--color-content-light);
}

.vrxdatepicker-timepicker-bg-style {
  border-color: var(--color-primary-200);
}

.vrxdatepicker-daypicker-isselected-style {
  background-color: var(--color-secondary-300);
}

.vrxdatepicker-daypicker-istoday-style {
  color: var(--color-secondary-700);
}

.vrxdatepicker-daypicker-iscurrentmonth-style {
  color: var(--color-primary-300);
}

/* 🌙 Dark mode */
@media (prefers-color-scheme: dark) {
  .vrxdatepicker-helpertext-style {
    color: var(--color-content-dark);
  }
  .vrxdatepicker-helpertext-invalid-style {
    color: var(--color-error-700);
  }
  .vrxdatepicker-dropdown-bg-style {
    background-color: var(--color-base-dark);
  }
  .vrxdatepicker-daypicker-text-style,
  .vrxdatepicker-monthpicker-text-style,
  .vrxdatepicker-yearpicker-text-style,
  .vrxdatepicker-timepicker-text-style {
    color: var(--color-content-dark);
  }
  .vrxdatepicker-daypicker-text-style:hover,
  .vrxdatepicker-monthpicker-text-style:hover,
  .vrxdatepicker-yearpicker-text-style:hover,
  .vrxdatepicker-timepicker-text-style:hover {
    background-color: var(--color-primary-500);
  }
  .vrxdatepicker-yearpicker-header-text-style {
    color: var(--color-content-dark);
  }
  .vrxdatepicker-timepicker-bg-style {
    border-color: var(--color-primary-600);
  }
  .vrxdatepicker-daypicker-isselected-style {
    background-color: var(--color-secondary-700);
  }
  .vrxdatepicker-daypicker-istoday-style {
    color: var(--color-secondary-300);
  }
  .vrxdatepicker-daypicker-iscurrentmonth-style {
    color: var(--color-primary-500);
  }
}
