@layer components {
  .vrx-notification {
    border: 1px solid;
    border-radius: 0.5rem; /* rounded-lg */
    padding: 1rem; /* p-4 */
    position: relative;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrx-notification {
    color: var(--color-content-dark);
  }

  .vrx-notification-success {
    border-color: #047857; /* border-emerald-700 */
    background-color: #047857; /* bg-emerald-700 */
    opacity: 0.9;
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrx-notification-success {
    border-color: #065f46; /* dark:border-emerald-800 */
    background-color: #065f46; /* dark:bg-emerald-600 */
    opacity: 0.9;
    color: var(--color-content-light);
  }

  .vrx-notification-warning {
    border-color: #b45309; /* border-orange-700 */
    background-color: #ea580c; /* bg-orange-600 */
    opacity: 0.9;
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrx-notification-warning {
    border-color: #c2410c; /* dark:border-orange-800 */
    background-color: #f97316; /* dark:bg-orange-500 */
    opacity: 0.9;
    color: var(--color-content-light);
  }

  .vrx-notification-error {
    border-color: #7f1d1d; /* border-red-900 */
    background-color: #dc2626; /* bg-red-600 */
    opacity: 0.9;
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrx-notification-error {
    border-color: #991b1b; /* dark:border-red-800 */
    background-color: #dc2626; /* dark:bg-red-600 */
    opacity: 0.9;
    color: var(--color-content-light);
  }

  .vrx-progress-bar {
    position: absolute;
    bottom: 0;
    left: 2px;
    height: 0.25rem; /* h-1 */
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.1s linear;
    background-color: var(--color-content-light);
    opacity: 0.9;
  }
  [data-mode="dark"] .vrx-progress-bar {
    background-color: var(--color-content-dark);
    opacity: 0.9;
  }

  .vrx-notification-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 300px;
    z-index: 50;
  }

  .vrx-unread-notifications {
    border: 1px solid #1f2937; /* border-gray-800 */
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    background-color: var(--color-base-light);
    color: #1f2937; /* text-gray-800 */
  }
  [data-mode="dark"] .vrx-unread-notifications {
    border-color: #4b5563; /* dark:border-gray-600 */
    background-color: var(--color-base-dark);
    color: var(--color-content-dark);
  }
}
