@layer components {
  .vrxprogress-color {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #6b7280; /* neutral-500 */
  }
  [data-mode="dark"] .vrxprogress-color {
    border-top-color: #9ca3af; /* neutral-400 */
  }
}
