@layer components {
  .vrxselect-input-style {
    outline: none;
    border-width: 1px;
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem; /* p-2.5 */
    display: block;
    width: 100%;
    border-color: var(--color-primary-300);
    color: var(--color-content-light);
  }
  .vrxselect-input-style:focus {
    outline: none;
    border-color: var(--color-secondary-500);
    box-shadow: 0 0 0 3px var(--color-secondary-500);
  }
  [data-mode="dark"] .vrxselect-input-style {
    color: var(--color-content-dark);
    background-color: var(--color-base-dark);
    border-color: var(--color-primary-600);
  }
  [data-mode="dark"] .vrxselect-input-style::placeholder {
    color: var(--color-content-dark);
  }
  [data-mode="dark"] .vrxselect-input-style:focus {
    border-color: var(--color-secondary-500);
    box-shadow: 0 0 0 3px var(--color-secondary-500);
  }

  .vrxselect-input-disabled-style {
    outline: none;
    border-width: 1px;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0.625rem;
    display: block;
    width: 100%;
    border-color: var(--color-primary-50);
    background-color: var(--color-base-light);
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrxselect-input-disabled-style {
    background-color: var(--color-base-dark);
    color: var(--color-content-dark);
  }

  .vrxselect-input-invalid-style {
    outline: none;
    border-width: 1px;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    padding: 0.625rem;
    display: block;
    width: 100%;
    border-color: var(--color-error-500);
    background-color: var(--color-error-50);
    color: var(--color-error-900);
  }
  [data-mode="dark"] .vrxselect-input-invalid-style {
    background-color: var(--color-base-dark);
    color: var(--color-error-400);
    border-color: var(--color-error-500);
  }

  .vrxselect-label-style,
  .vrxselect-helperText-style {
    color: var(--color-content-light);
  }
  [data-mode="dark"] .vrxselect-label-style,
  [data-mode="dark"] .vrxselect-helperText-style {
    color: var(--color-content-dark);
  }

  .vrxselect-label-invalid-style,
  .vrxselect-helperText-invalid-style {
    color: var(--color-error-700);
  }
  [data-mode="dark"] .vrxselect-label-invalid-style,
  [data-mode="dark"] .vrxselect-helperText-invalid-style {
    color: var(--color-error-500);
  }
}
