@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.icon-active{
    transform: rotate(180deg);
    transition: .2s ease all;
}

.icon-off{
    transform: rotate(0deg);
    transition: .2s ease all;
}

.icon-rotate{
    transform: rotate(90deg);
    transition: .2s ease all;
}