@layer components {
  .vrxtree-text-style {
    color: var(--color-primary-900);
  }
  [data-mode="dark"] .vrxtree-text-style {
    color: var(--color-content-dark);
  }

  .vrxtree-element-style {
    transition: background-color 0.2s ease-in-out;
  }
  .vrxtree-element-style:hover {
    background-color: var(--color-primary-100);
  }
  [data-mode="dark"] .vrxtree-element-style:hover {
    background-color: var(--color-primary-800); /* oppure var(--color-base-dark) */
  }
}
